@model Rs.App.Core.Mvc.Client.Sale.Areas.Crms.ViewModel.Address

@if (Model.GetType().GetProperty("ErrorMessage") != null)
{
    <div class="alert-danger">
        @Model.GetType().GetProperty("ErrorMessage").GetValue(@Model);
    </div>
}
<div>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Line1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Line2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Line3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>